section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 90px;
}

h1 {
  font-weight: 500;
  font-size: 48px;
  color: #486284;
}

.info p {
  color: #1a202c;
  font-size: 18px;
}

.nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navType {
  margin: 2% 0;
  width: 100%;
  padding-bottom: 1%;
  margin-bottom: 1%;
  border-bottom: 2px solid #90a3bf;
  text-align: center;
}

.navType a {
  color: black;
}

.navType:hover {
  font-weight: bold;
  border-bottom: 2px solid #1a202c;
}

.navType > a.activeLink {
  color: rgb(1, 1, 1);
  font-weight: bold;
}

.navType.activeLink {
  border-bottom: 2px solid rgb(0, 0, 0);
}

.grid-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  justify-items: center;
}

.pokeCard {
  background-color: #dee5ed;
  padding: 4%;
  border-radius: 10px;
  margin: 5% 0;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.headerCard,
.footerCard {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
  padding: 1% 5%;
}

.redHeart {
  color: rgb(255, 0, 0);
}

.imgPoke {
  background-color: #ffffff;
  padding: 8%;
  border-radius: 4px;
  margin: 5%;
  transition: transform 1s ease;
}

.imgPoke.flipped {
  transform: rotateY(360deg);
}

.btnCard {
  color: white;
  background-color: #306bb3;
  font-weight: 600;
  padding: 5% 10%;
  border: none;
  border-radius: 4px;
  margin: 0;
  width: 50px;
  height: 30px;
}

.more-cards {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 520px;
  padding: 50px;
}

.btnMore {
  color: white;
  background-color: #306bb3;
  width: 12vw;
  font-weight: 600;
  padding: 2% 2%;
  border-radius: 4px;
  margin: 4% 0;
  border-style: none;
}

.more-cards > p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #306bb3;
}

@media (min-width: 320px) and (max-width: 576px) {
  .info {
    margin-top: 30px;
    gap: 0;
  }

  h1 {
    font-size: 30px;
    text-align: center;
  }

  .info p {
    font-size: 15px;
    text-align: center;
    margin: 5%;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  }

  .headerCard p,
  .footerCard p {
    font-size: 80%;
  }

  .btnCard {
    width: auto;
    height: auto;
  }

  .more-cards {
    width: 100%;
    justify-content: space-between;
    gap: 0px;
  }

  .btnMore{
    width: auto;
    height: 50px;
  }
}
