.titleBlog{
  font-size: 3em;
  text-align: center;
  font-weight: 500;
  color: #486284;
}

article{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 4% 2% ;
}

article div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2%;
  padding: 2% 3%;
}

article div img{
  max-width: 40%;
}

.main-text{
  width: 50%;
}

.main-img{
  max-width: 40%;
}
.subtitle{
  width: 50%;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 576px) {
.titleBlog{
  font-size: 2.5em;
}

article{
  padding: 5%;
}

article div{
  flex-direction: column;
}
 
article div img{
  max-width: 80%;
  margin: 5%;
}
}